<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styleaccesories.css">
    <script src="accesories.js"></script>
</head>
<body>
    <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div id="carousel">
        <div class="slides">
          <div class="slide">
            <img src="image1.jpg" alt="Image 1">
            <p>Image 1 description</p>
          </div>
          <div class="slide">
            <img src="image2.jpg" alt="Image 2">
            <p>Image 2 description</p>
          </div>
          <div class="slide">
            <img src="image3.jpg" alt="Image 3">
            <p>Image 3 description</p>
          </div>
        </div>
    </div>
      
</body>
</html>